* {
    /*universal selector*/
    font-family: 'Courier New';
}

h1 {
    /* element selector */
    color:cornflowerblue;
    background-color: black;
}

/* colour systems:
    Named: red
    RGB: rgb(255, 0, 0) red = 255, green = 0, blue = 0
    HEX: #ff0000 red = ff, green = 00, blue = 00
*/

h2 {
    text-align: center; /* left, right, center, justify */
    font-weight: bold; /* normal, bold, bolder, lighter */
    font-style: italic; /* normal, italic, oblique */
    text-decoration: underline; /* underline, overline, line-through */
    line-height: 20px; 
    letter-spacing: 3px; 
    font-size: 20px; 
}

/* font size units:
    px: pixels
    em: relative to the font size of the element
    rem: relative to the font size of the root element
    %: percentage of the parent element
    vw: 1% of the viewport width
    vh: 1% of the viewport height
*/

#myid {
    /* id selector */
    text-align: right;
}

.myclass {
    /* class selector */
    color: cornflowerblue;
}

div p {
    /* descendant selector */
    color: red;
}

/*combinators:
    Descendant: div p
    Child: div > p
    Adjacent Sibling: div + p
    General Sibling: div ~ p
*/

input[type="text"] {
    /* attribute selector */
    width: 300px;
}

/* pseudo-classes:
    :hover
    :active
    :nth-of-type(n)
    :checked
*/

button:hover {
    /* pseudo-class */
    background-color: cornflowerblue;
    color: white;
}

/* pseudo-elements:
    ::first-letter
    ::first-line
    ::selection
*/

h1::first-letter {
    /* pseudo-element */
    font-size: 60px;
}

/* The CSS cascade algorithm's job is to select CSS declarations in order to determine the correct values for CSS properties. */

h4 {
    color: red;
}

h4 {
    color: blue;
}

/* The last declaration will override the previous declarations. */

/* Specificity is an algorithm that calculates the weight that is applied to a given CSS declaration - 3 digit number

id > class > element
*/

/* !important is a keyword that can be added to a CSS declaration to override the normal specificity rules. */