* {
        text-align: center;
        background-color: black;
}

h1 {color: white;}
h3 {color: white}

.game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    height: 550px;
    width: 550px;
    margin: auto;
    align-items: center;
    justify-content:space-around;
}

#green {background-color: green;}
#red {background-color: red;}
#yellow {background-color: yellow;}
#blue {background-color: blue;}

.btn {
    border: 2px solid white;
    border-radius: 20%;
    height: 250px;
    width: 250px;
}