<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>HOME</h1>
    <!-- interpolation syntax ---> <%= 1+2 %> <!-- will print 3 -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ad nisi nam laborum delectus. Illum molestias impedit sed ipsa iste nemo quo corrupti fugit non qui, nisi consequuntur, assumenda excepturi.</p>
</body>
</html>