<%- include("includes/head.ejs") %>

<body>
    <h1>Dice gave value: <%= diceVal %></h1>
    <% if (diceVal == 6) { %>
        <h2>Congratulations! You rolled a 6!</h2>
    <% } %>
    </h1>
</body>
</html>

